/* Helper */
* {
    outline: 1px solid red;
}

.container {
    background-color: lightskyblue;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    gap: 10px;
}