/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* Typography */
/* TODO */

/* Navigation Bar */
header {
  background-color: #333;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

/* Menu for desktop */
.menu {
  /* Hidden on mobile */
  display: none;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

/* Menu for Mobile */
.burger-menu {
  font-size: 2rem;
  cursor: pointer;

  /* Displayed on mobile */
  display: block;
}

.mobile-menu {
  display: none;
  background-color: #333;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.mobile-menu a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

/* Hero Section */
#hero {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.cta-button:hover {
  background-color: #c04d00;
}

/* Sections */
section {
  padding: 40px 20px;
  text-align: center;
}

/* Card container */
.web-cards {
  display: flex;
  /* Stacks cards vertically on mobile */
  flex-direction: column;
  gap: 20px;
}

/* Card */
.card {
  background-color: #dadada;
  padding: 20px;

  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  max-width: 300px;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-image {
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-title {
  font-size: 24px;
  margin: 0;
}

.card-description {
  color: #555;
  margin: 0;
}

.small-card {
  flex: 1;
}

.large-card {
  flex: 2;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-media a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

/* Cookie Popup */
.cookie-popup {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie-popup button {
  padding: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

/* Responsive Styles */
/* Table & Desktop */
@media (min-width: 768px) {
  /* Tablet & desktop menu   */
  .menu {
    display: block;
  }

  /* Mobile burger menu icon */
  .burger-menu {
    display: none;
  }

  /* Mobile menu */
  .mobile-menu {
    display: none;
  }

  /* Change the direction of the cards to row on table & desktop */
  .web-cards {
    flex-direction: row;
  }

  /* Change the size of the card on tablet & desktop. */
  .card {
    max-width: 30%;
  }
}
